extends layout

block content
  form(method="post" action="/add")
    div.text-center.mt-3
      textarea(name="addWords", rows="10", id="add-text").w-100
    div.d-flex.flex-row.justify-content-between
      div.mt-3
        button(type="submit").btn.btn-success 登録
      div.mt-3
        a(href="/", role="button").btn.btn-secondary 戻る
  