extends layout

block content 
  h1 Login Page
  p.lead.mt-3 ログインページ
  br
  form(role='form', action="/login",method="post", style='max-width: 300px;')
    .form-group
      input.form-control(type='text', name="username", placeholder='ユーザーID')
    .form-group
      input.form-control.mt-3(type='password', name="password", placeholder='パスワード')
    div.d-flex.flex-row.justify-content-between.mt-5
      button.btn.btn-primary(type='submit') ログイン
      div
        a(href='/', role="button").btn.btn-secondary キャンセル
    #{message}
    div.mt-5
      input(type="checkbox", name="remember", value="1", id="remember" checked="checked").mr-2
      label(for="remember") 次回から省略

